* {
    box-sizing: border-box;
}

body:before {
	padding: 0px;
}

body{
	background-image: url('/img/new_year_background.png');
}

header {
	margin: 0px;
}

header > div {
	background-image: url("/img/yosemite.png");
	background-repeat: no-repeat;
	background-color: #0B3B17;
	margin:	0px;
	height: 100px;
	padding: 12px;
	margin: 0px 0px 18px 0px;
	color: white;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Delius Swash Caps', cursive;
	text-shadow: 0px 0px 18px #0B3B17;
}

p {
	font-family: 'Work Sans', sans-serif;
	margin: 2px 12px;
}

a {
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
	color: white;
	font-weight: 500;
	padding: 8px;
	border-radius: 6px;
	background-color: #0B3B17;
}

a:hover {
	background-color: #5F9EA0;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.listings {
	-webkit-column-count: 2;
	padding: 0px 10px 10px 30px;
}

.row {
	margin-bottom: 20px;
}

.park {
	width: 90%;
	float: left;
}

.parkName {
	font-family: 'Amaranth', sans-serif;
	color: #0B3B17;
	font-size: 2em;
	margin: 0px 12px;
}

.parkLocation {
	font-family: 'Work Sans', sans-serif;
	color: #5F9EA0;
	margin: 2px 12px;
}

.image{
	width: 300px;
	height: 150px;
	border: 3px solid #5F9EA0;
	border-radius: 8px;
	margin: 0px 0px 12px 12px;
}

.description {
	font-size: 0.8em;
	font-weight: 300;
	margin-bottom: 18px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border-radius: 8px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#add {
	align-self: flex-end;
	background-color: white;
	border-radius: 8px;
	height: 30px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	color: #0B3B17;

}