body {
	font-family: 'Open Sans', sans-serif;
	background-color: FloralWhite;
}

header {
	padding: 25px;
	background-color: DarkGoldenRod;
	font-weight: 800;
}

h1 {
	font-weight: 600;
	color: FloralWhite;
}

h3 {
		padding-top: 15px;
		font-weight: 600;
		color: DarkGoldenRod;
}

.categories {
	color: DarkGoldenRod;
}

.blogEntry {
	margin-bottom: 10px;
	border-bottom: 1px solid DarkGoldenRod;
}

#posts {
	padding-left: 10px;
}
