.header {
	height: 50px;
    width: 100%;
    background-color: #CACACA;
    position: fixed;
    margin-bottom: 150px;
    padding-right: 15px;
}

.navigation {
  list-style: none;
  margin: 0;
  background: #CACACA;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #BCF5A9;
  color: #555;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

body {
    margin: 0;
    padding: 15px 0px 15px 15px;
    background-image: url(/resume/img/honey_im_subtle_@2X.png);
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 2.5em;
	margin-bottom: 10px;
}

h2 {
    font-size: 1.625em;
    font-weight: 200;
    background-repeat: repeat-x;
    margin-bottom: 4px;

}

h3 {
	font-size: 1.25em;
	font-weight: 600;
	line-height: 0.5em;
	color: #FFF;
}

h4 {
	font-size: 1.0em;
	font-weight: 400;
	line-height: 0.125em;
	color: #BCF5A9;
}

div	{
	padding-left: 10px;
}

p {
    font-size: 0.875em;
}

.name {
    color:#555;
    font-size: 1.8em;
    font-weight: 600;
}

#rez {
    font-weight: 200
}

.positions {
	background-image: url(/resume/img/gradient.png);
    border-radius: 0px 0px 75px 25px;
    margin: 4px; 
    position: relative;
    top: 50px;
}

.first-p {
    position: absolute
}